.body-propos {
    background-color: var(--color-black) !important;
}

.hero-propos {
    background-color: var(--color-black);

    h1,
    .on-title {
        color: var(--color-primary);
    }
}

.mes-projets-propos{
    a{
        color: var(--color-primary);

        
    .icon{
        fill: var(--color-primary);
        border-color: var(--color-primary);
    }
    
    }



}

.header-propos {
    

    a {
        color: var(--color-primary);
    }

    a::before {
        background: var(--color-primary);
    }
}

.moi {
    width: 100vw;
    position: relative;
    z-index: 1;
    padding: 100px;
    background-color: var(--color-black);
    

    @media screen and (max-width: 900px) {
        padding: 100px 75px;
    }

    @media screen and (max-width: 700px) {
        padding: 75px 50px;
    }

    @media screen and (max-width: 475px) {
        padding: 75px 10px;
    }

    h2,p{
        opacity:calc(2 * var(--progress)) ;
    }

    h2 {
        text-transform: inherit;
        font-style: italic;
        color: var(--color-primary);
        font-size: #{typo(12px, 24px)};
        font-weight: 300;
    }

    p {
        font-size: #{typo(14px, 32px)};
    }
}

.langages {
    width: 100vw;
    padding: 100px 0;
    z-index: 1;
    position: relative;
    background-color: var(--color-black);

    @media screen and (max-width: 800px) {
        padding: 50px 0;
    }

    .plus {
        margin-top: 30px;
    }

    .wrapper {
        overflow: hidden;
    }
    h2 {
        text-align: center;
        text-transform: inherit;
        color: var(--color-primary);
        font-size: #{typo(16px, 24px)};
        font-weight: 300;
    }

    .lang-logi {
        --padding--logi: 60px;
        position: relative;
        padding-top: var(--padding--logi);
        padding-bottom: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 130px;
    }

    .langage {
        display: flex;
        gap: 40px;
        position: relative;
        
        

        img {
            z-index: 2;

            @media screen and (max-width: 860px) {
                height: 90%;
                width:  90%;
                margin: 0 auto;
            }

            @media screen and (max-width: 620px) {
                height: 70%;
                width:  70%;
                
            }

            @media screen and (max-width: 450px) {
                height: 50%;
                width:  50%;
            }
        }

        p {
            position: absolute;
            top: 5%;

            

            @media screen and (max-width: 860px) {
                top: 15%;
                left: 120%;
            }

            @media screen and (max-width: 620px) {
                top: 20%;
            }

            @media screen and (max-width: 450px) {
                left: 100%;
            }
            left: 150%;

            
            margin: 0;
            color: var(--color-primary);
            font-size: #{typo(16px, 60px)};
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0;
            transform: translateX(-100%);
            transition: all 0.4s ease;
        }

        .gauche {
            left: inherit;
            right: 150%;

            @media screen and (max-width: 860px) {
                
                right: 120%;
            }

           
            @media screen and (max-width: 450px) {
                right: 100%;
            }
            transform: translateX(100%);
            width: 400px;
            text-align: right;
        }
    }
}

.is-active {
    p {
        opacity: 1 !important;
        transform: translateX(0) !important;
    }
}

.ligne-langage {
    position: absolute;
    top: calc(var(--padding--logi) / 3);
    left: 50%;
    height: 100%;
    width: 4px;
    background: var(--color-primary);
    transform: translateX(-50%);
}

.qualite {
    position: relative;
    background-color: var(--color-black);
    z-index: 1;
    display: flex;
    overflow-x: hidden;

    .qualites,
    .interets {
        flex-shrink: 0;
        width: 100vw;
        height: 100vh;
        padding:100px;

       
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: flex-start;
        color: var(--color-primary);

        @media screen and (max-width: 1050px) {
            justify-content: flex-start;
        }


        @media screen and (max-width: 800px) {
                    padding:100px 50px ;
                    gap: 20px;
                }
        h2 {
            font-size: #{typo(20px, 60px)};


            @media screen and (max-width: 1050px) {
                padding-top: 100px;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 40px;
            
            padding: 0;

           

            li {
                font-size: #{typo(14px, 25px)};
            }
            span {
                font-weight: 600;
            }
        }
    }
}

.competences {
    padding: 100px 0;
    background-color: var(--color-black);
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    color: var(--color-primary);
    overflow: hidden;
    @media screen and (max-width: 800px) {
       height: 70vh;
    }
    

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        height: fit-content;
        transform-origin: left;
        transform: rotate(90deg);
        font-size: #{typo(25px, 40px)};
        font-weight: 300;
    }

    ul {
        z-index: 4;
        position: absolute;
        top: 100%;
        right: 0;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 80px;

        li {
            font-size: #{typo(20px, 75px)};
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0;
            transition: all 0.7s ease;
            

            @media screen and (max-width: 800px) {
                opacity: 1;
            }
        }
    }
}

.li-is-active {
    opacity: 1 !important;
}
