.hero-propos {
    background-color: var(--color-black);

    h1,
    .on-title {
        color: var(--color-primary);
    }
}

.header-propos {
    mix-blend-mode: difference;

    a {
        color: var(--color-primary);
    }

    a::before {
        background: var(--color-primary);
    }
}

.moi {
    position: relative;
    z-index: 1;
    padding: 100px;
    background-color: var(--color-black);

    h2 {
        text-transform: inherit;
        font-style: italic;
        color: var(--color-primary);
        font-size: #{typo(16px, 24px)};
        font-weight: 300;
    }

    p {
        font-size: #{typo(16px, 38px)};
    }
}

.langages{
    padding: 100px 0;
    z-index: 1;
    position: relative;
    background-color: var(--color-black);

    .plus{
        margin-top: 30px;
    }

    .wrapper{
        overflow: hidden;
    }
    h2{
        text-align: center;
        text-transform: inherit;
        color: var(--color-primary);
        font-size: #{typo(16px, 24px)};
        font-weight: 300;
    }

    .lang-logi{
        --padding--logi : 60px;
        position: relative;
        padding-top: var(--padding--logi);
        padding-bottom: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 130px;
    }

    


    .langage{
        display: flex;
        gap: 40px;
        position: relative;
        
        p{
            position: absolute;
            top: 5%;
            left: 150%;
            margin: 0;
            color: var(--color-primary);
            font-size: #{typo(24px, 60px)};
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0;
            transform: translateX(-100%);
            transition: all 0.4s ease;
        }

        .gauche{
            left: inherit;
            right: 150%;
            transform: translateX(100%);
            width: 400px;
            text-align: right;
        }
    }
}


.is-active{

    p{
        opacity: 1 !important; 
        transform: translateX(0) !important;
    }

    
    
}


.ligne-langage{
    position: absolute;
    top: calc(var(--padding--logi)/3) ;
    left: 50%;
    height: 100%;
    width: 4px;
    background: var(--color-primary);
    transform: translateX(-50%);
}




.qualite{
    position: relative;
    height: 100vh;
    background-color: var(--color-black);
    z-index: 1;
}