.contact {
    padding-top: 130px;
    padding-bottom: 25px;
    height: 100vh;
    width: 100vw;
    position: relative;
    //overflow-y: hidden;

    @media screen and (max-width: 960px) {
                
        overflow-y: inherit;
        height: fit-content;
     }

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .grid {
        display: grid;
        grid-template-columns: 4fr 6fr;
        gap: 175px;

        @media screen and (max-width: 1366px) {
                
            gap: 100px;
        }

        @media screen and (max-width: 1150px) {
                
            gap: 50px;
        }

        @media screen and (max-width: 960px) {
                
           grid-template-columns: 1fr;
        }
    }

    h1 {
        font-size: #{typo(18px, 65px)};
        text-transform: uppercase;
    }
}

.contact-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 60px;

    @media screen and (max-width: 960px) {
                
        display: grid;
        grid-template-columns: 5fr 6fr;
        gap: 40px;
     }

     @media screen and (max-width: 600px) {
                
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
     }


    .contact-title{
        color: var(--color-black);
        font-size: #{typo(16px, 20px)};

        p{
            max-width: 500px;
            margin: 0;
            padding-top: 10px;
        }
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (max-width: 960px) {
                
            
         }
    

        a {
            position: relative;
            display: block;
            font-size: #{typo(14px, 25px)};
            
            font-weight: 400;
        }

        a::before{
            content: '';
            bottom: 12%;
            right: 0;
            
            position: absolute;
            height: 2px;
            width: 0;
            background: var(--color-black);
            transition: all 0.5s ease-in-out;
        }
    
        a:hover::before{
            width: 100%;
            right: inherit;
            
        }

        .info {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }



    
}


.contact-bottom{
    @media screen and (max-width: 1366px) {
                
        margin-top: 50px;
        padding-bottom: 25px;
    }

        @media screen and (max-width: 960px) {
                
            margin-top: 50px;
        }
    }