.cursor {
    z-index: 500;
    position: absolute;
    height: 30px;
    width: 30px;
    background: var(--color-primary);
    border-radius: 50%;
    transition: transform 0.7s ease;
    pointer-events: none;
    mix-blend-mode: difference;
}

html,
a {
    cursor: none;
}

.cursor-hover {
    transform: scale(2.5);
}

.cursor-hover-projet {
    transform: scale(6);
    mix-blend-mode: inherit;
    transition: transform 0.7s ease;

    &::after {
        content: 'Voir le projet';
        font-size: 4px;
        font-weight: 600;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
       

        color: var(--color-black);
    }
}


