.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 0;


    padding-top: 100px;
    padding-bottom: 25px;
    background-color: var(--color-white);


    @media screen and (max-width: 800px) {
        padding-top: 50px;
        
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;

        @media screen and (max-width: 800px) {
           gap: 50px;
            
        }
    }

    .info {
        display: flex;
        align-items: center;
        gap: 15px;
    
        a {
            font-size: #{typo(14px, 25px)};
            text-decoration: underline;
            font-weight: 400;
        }
    }



    h1{
        --font-size-h1: #{typo(22px, 100px)};
    }
}




.footer-bottom{
    color: var(--color-black);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 800px) {
        align-items: center;
    }


    p{
        margin: 0;
        
        font-weight: 500;
    }



}



.footer-socials{
    
    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        gap: 30px;

        @media screen and (max-width: 800px) {
            gap: 10px;
        }

        li{
            transition: transform 0.2s ease-in;

            .icon{
                @media screen and (max-width: 800px) {
                    height: 3em;
                    width: 3em;
                }

                @media screen and (max-width: 400px) {
                    height: 2.5em;
                    width: 2.5em;
                }
            }
        }


        li:hover{
            transform:translateY(-7px);
        }
    }

}

.footer-top{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 800px) {
       width: 100%;
    }
}

.footer-line{
    background-color: var(--color-black);
    width: 100%;
    height: 1.5px;
}


.footer-title{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.footer-info{
    color: var(--color-black);
    display: flex;
    gap: 75px;

    p{
        margin: 0;
    }
}




