.logo{
    font-size:  #{typo(15px, 50px)};
    
}

.header{
    z-index: 5;
    position: fixed;
    width: 100%;
    color: var(--color-black);
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    padding: 15px 0;

}


.nav-menu{
    ul{
        list-style-type: none;
        display: flex;
        gap: 65px;
        margin: 0;
        padding: 0;
    }


    a{
        position: relative;
        display: block;
    }

    a::before{
        content: '';
        bottom: 12%;
        right: 0;
        
        position: absolute;
        height: 2px;
        width: 0;
        background: var(--color-black);
        transition: all 0.5s ease-in-out;
    }

    a:hover::before{
        width: 100%;
        right: inherit;
        
    }






}


