.projets{
    padding: 100px 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-black);
    z-index: 5;
    overflow: hidden;

    .wrapper{
        position: relative;
        display: flex;
        justify-content: flex-end;
    }


    .projet{
       padding-right: 5%;
    }
}



.projet-title{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 30%;
    h2{
        font-size:  #{typo(55px, 175px)};
        color: var(--color-primary);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &::after{
            content: '';
            width: 20%;
            height: 4px;
            background-color: var(--color-primary);
        }
    }


    .sub-title{
        color: var(--color-primary);
        margin: 0;
        padding-top: 5px;
    }
}


.projet-media{
    img{
        border-radius: 20px;
        width: 90%;
        height: 90%;
        display: block;
        object-fit: cover;
    }
}

.projet-content{
    padding-top: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    p{
        font-size:  #{typo(15px, 25px)};
        margin: 0;
        color: var(--color-primary);
    }

    .icon{
        fill: currentColor;
        
    }
}





