/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--color-white) !important;
    
    overflow-x: hidden;
    
    ::selection{
        color:var(--color-black);
        background: var(--color-primary);
    }

    
    
}

html {
    scroll-behavior: smooth;
    
    
    
}

.nav-is-active{
        overflow-x: inherit;
    }
    



    ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	
	background-color: var(--color-black);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	background-color: var(--color-primary);
}



  
  
