/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    font-family: var(--font-primary);

    &:hover {
       
    }
}
