/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #F0F0F0;
    --color-black: #140D0D;

    // Couleurs du projet
    --color-primary: #F1EBC9;
    --color-fail: #eb4747;
}
