/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;


    --font-size-content: #{typo(10px, 28px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(28px, 100px)};
    --font-size-h2: #{typo(25px, 50px)};
    --font-size-h3: #{typo(18px, 25px)};
    --font-size-h4: #{typo(20px, 35px)};
}
