{% include "_partials/_header.html" with {title:"À propos |" , class:"header-propos" , classbody:"body-propos"}%}

<section class="hero hero-propos">
    <div class="wrapper">

        <div class="hero-media" data-scroll data-scroll-speed="0.5">
            <img src="assets/images/hero-apropos.jpg" alt="Fred-Eric Auger" />
        </div>

        <div class="hero-content" data-scroll data-scroll-speed="0.9">
            <p class="on-title">Intégrateur</p>
            <h1>
                Fred-Eric Auger
                <br />
                passionné du web
            </h1>
        </div>

       

        <div class="mes-projets mes-projets-propos">
            <a href="#moi">
                <svg class="icon">
                    <use xlink:href="#icon-fleche"></use>
                </svg>

                <p>Mon profil</p>
            </a>
        </div>
    </div>
</section>

<section class="moi" id="moi" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="moi-content">
            <h2>Ce que vous pouvez attendre de moi :</h2>
            <p>
                Je suis un intégrateur et designer web qui adore innover dans chacun de mes projets. J’aime prendre des risques et apprendre de nouvelles chose
                dans mon domaine. Je donne toujours mon 100% pour rendre mes projets le plus proche possible de la perfection.
            </p>
        </div>
    </div>
</section>

<section class="langages" data-component="Langages">
    <div class="wrapper js-line-wrapper">
        <h2>Mes langages et logiciels</h2>

        <div class="lang-logi">
            <div class="ligne-langage js-line"></div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html" />

                <p class="langage-nom">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/css.svg" alt="css" />

                <p class="langage-nom gauche">css/scss</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/js.svg" alt="java script" />

                <p class="langage-nom">JavaScript</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/vscode-logi.svg" alt="vs code" />

                <p class="langage-nom gauche">Vs Code</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/php.svg" alt="php" />

                <p class="langage-nom">php</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/figma-logi.svg" alt="figma" />

                <p class="langage-nom gauche">figma</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/github-logi.svg" alt="git hub" />

                <p class="langage-nom">github</p>
            </div>
        </div>
    </div>
    <h2 class="plus">Et encore plus</h2>
</section>

<section class="qualite js-horizontal">
    <div class="qualites js-horizontals">
        <h2>Qualités humaines</h2>

        <ul>
            <li>
                <span>Ouverture à la critique :</span>
                Être ouvert a la critique me permet de toujours m’améliorer
            </li>
            <li>
                <span>Souci du détail :</span>
                Être soucieux du détail me permet d’avoir des projets aboutie et bien travaillé
            </li>
            <li>
                <span>Créativité :</span>
                J’essaye toujours de me démarquer des autres grâce à ma créativité
            </li>
            <li>
                <span>Débrouillard :</span>
                J’arrive toujours à trouver des solutions quand je suis bloqué
            </li>
            <li>
                <span>Altruiste :</span>
                Je suis toujours prêt à aider mes pairs pour mieux avancer
            </li>
        </ul>
    </div>

    <div class="interets js-horizontals">
        <h2>Passions et intérêts</h2>

        <ul>
            <li>
                <span>Le football :</span>
                Depuis mon plus jeune âge, j'ai toujours pris plaisir à pratiquer et à regarder le football.
            </li>
            <li>
                <span>La musique :</span>
                La musique m'accompagne en permanence, elle me motive et m'aide à rester concentré.
            </li>
            <li>
                <span>Les jeux vidéo :</span>
                Pendant mon temps libre, j'apprécie me détendre en jouant aux jeux vidéo.
            </li>
            <li>
                <span>Le camping :</span>
                L'été j'aime aller me reposer au camping et vivre des expériences en nature.
            </li>
            <li>
                <span>Les mangas :</span>

                Lire des mangas me permet de me transporter dans des univers fascinants.
            </li>
        </ul>
    </div>
</section>

<section class="competences js-competences">
    <div class="wrapper">
        <h2>Mes compétences</h2>

        <ul class="js-competence">
            <li class="js-li">Intégration web</li>
            <li class="js-li">Design web</li>
            <li class="js-li">analyse logique</li>
            <li class="js-li">programmation web</li>
            <li class="js-li">gsap</li>
        </ul>
    </div>
</section>

{% include "_partials/_footer.html" %}
