{% include "_partials/_header.html" with {title:"À propos |" , class:"header-propos"}%}

<section class="hero hero-propos">
    <div class="wrapper">
        <div class="hero-content">
            <p class="on-title">Intégrateur</p>
            <h1>
                Fred-Eric Auger
                <br />
                passioné du web
            </h1>
        </div>

        <div class="hero-media">
            <img src="assets/images/hero-apropos.jpg" alt="Fred-Eric Auger" />
        </div>
    </div>
</section>

<section class="moi">
    <div class="wrapper">
        <div class="moi-content">
             <h2>Ce que vous pouvez attendre de moi :</h2>
        <p>
            Je suis un intégrateur et designer web qui adore innover dans chacun de mes projets. J’aime prendre des risques et apprendre de nouvelles chose dans
            mon domaine. Je donne toujours mon 100% pour rendre mes projets le plus proche possible de la perfection.
        </p>
        </div>
       
    </div>
</section>


<section class="langages">
    <div class="wrapper">
        <h2>Mes langages et logiciels</h2>


        <div class="lang-logi">
            <div class="ligne-langage js-line"></div>
            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom gauche">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom gauche">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom gauche">html</p>
            </div>

            <div class="langage js-langage">
                <img src="assets/icons/html.svg" alt="html">

                <p class="langage-nom">html</p>
            </div>
        </div>


        <h2>Et encore plus</h2>
    </div>
</section>

{% include "_partials/_footer.html" %}
