{% include "_partials/_header.html" with {title:"Badminton Lachine |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2">Badminton Lachine</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Projet de fin d’études réalisé pour un client réel. Nous avons conçu un site WordPress entièrement personnalisé, développé sur mesure avec ACF
                Pro. Chaque section du site a été pensée comme un bloc réutilisable, permettant au client de gérer librement la mise en page et le contenu selon
                ses besoins.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="https://fauger.dectim.ca/badminton-lachine/" target="_blank">
                <img src="assets/images/projets-badminton.png" alt="badminton lachine" />
            </a>
        </div>
    </div>
</section>

<section class="credits" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédits</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Programmeur :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                    <li>
                        Designer :
                        <a href="https://ntremblay.dectim.ca/noahtremblay/">Noah Tremblay</a>
                    </li>
                    <li>
                        Lead :
                        <a href="https://mfontaine.dectim.ca/">Maximilien Fontaine</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Intégration back-end</li>
                    <li>Projet scolaire</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Wordpress</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Modularité et personnalisation</h2>

            <p>
                J'ai conçu des blocs flexibles avec ACF Pro, permettant de placer le contenu librement à travers les pages. Cette approche a offert au client
                une autonomie complète pour structurer son site selon ses besoins.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo1.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">PHP des blocs</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo2.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Blocs</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Navigation accessible et structurée</h2>

            <p>
                Pour ce projet, j’ai développé un en-tête entièrement accessible avec des sous-menus conformes aux bonnes pratiques d’accessibilité web. En
                utilisant un custom walker WordPress, j’ai pu générer une structure HTML propre et sémantique.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo3.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Walker pour le menu</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo4.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Header</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration</h2>

            <p>
                J’ai conçu un footer flexible et entièrement personnalisable, en accord avec l’identité visuelle du site. Tout en assurant une hiérarchie claire
                de l’information et une parfaite adaptabilité sur tous les formats d’écran.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo5.jpg" alt="CSS des Cards" data-component="Modales" />
                <p class="legende">HTML du footer</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo6.jpg" alt="Cards" data-component="Modales" />
                <p class="legende">Footer</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Intéractivité</h2>

            <p>
                Pour offrir une navigation fluide et interactive, j’ai intégré deux carrousels connectés à l’aide de Swiper.js : l’un principal affichant le
                contenu en grand format, l’autre servant de navigation avec des miniatures
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo7.jpg" alt="Javascript des accordions" data-component="Modales" />
                <p class="legende">Javascript des carousels</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bad-photo8.jpg" alt="Accordions" data-component="Modales" />
                <p class="legende">Double carousel</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media" data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>nike phantom luna</h2>

                <p>Projet suivant</p>
            </div>

            <a href="nike-phantom.html">
                <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
