{% include "_partials/_header.html" with {title:"Badminton Lachine |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2">Badminton Lachine</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Projet de fin d’études réalisé pour un client réel. Nous avons conçu un site WordPress entièrement personnalisé, développé sur mesure avec ACF
                Pro. Chaque section du site a été pensée comme un bloc réutilisable, permettant au client de gérer librement la mise en page et le contenu selon
                ses besoins.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="https://fauger.dectim.ca/badminton-lachine/" target="_blank">
                <img src="assets/images/projets-badminton.png" alt="badminton lachine" />
            </a>
        </div>
    </div>
</section>

<section class="credits" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédits</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Programmeur :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                    <li>
                        Designer :
                        <a href="https://ntremblay.dectim.ca/noahtremblay/">Noah Tremblay</a>
                    </li>
                    <li>
                        Lead :
                        <a href="https://mfontaine.dectim.ca/">Maximilien Fontaine</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Intégration back-end</li>
                    <li>Projet scolaire</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Wordpress</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                Bien que le moodboard initial ait été partiellement fourni, j'ai pris l'initiative de rechercher des références supplémentaires qui
                correspondaient à ma vision. Cela m'a permis de personnaliser davantage le projet.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-inspi.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-mood.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                Tout comme pour la maquette finale, j'ai su adapter et personnaliser le projet en recherchant des comparables qui correspondaient à ma vision.
                Cela m'a permis de créer un rendu final qui reflète parfaitement mon style et mes attentes.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-wire.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Wireframes</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-maquette.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Maquette final</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration</h2>

            <p>
                Pour concevoir ces cartes, j'ai utilisé une combinaison de positionnements absolus et relatifs afin de créer des effets de superposition. Cette
                approche m'a permis de structurer les éléments de manière dynamique, tout en assurant une présentation visuellement attrayante et cohérente.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/card-code.png" alt="CSS des Cards" data-component="Modales" />
                <p class="legende">CSS des Cards</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-cards.jpg" alt="Cards" data-component="Modales" />
                <p class="legende">Cards</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Intéractivité</h2>

            <p>
                J'ai développé des accordéons en JavaScript afin de permettre l'affichage d'une plus grande quantité de contenu de manière dynamique et fluide.
                Cette solution optimise l'expérience utilisateur en facilitant la navigation et en rendant les informations plus accessibles sans surcharger la
                page.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/accordion-code.png" alt="Javascript des accordions" data-component="Modales" />
                <p class="legende">Javascript des accordions</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-accor.jpg" alt="Accordions" data-component="Modales" />
                <p class="legende">Accordions</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media" data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>nike phantom luna</h2>

                <p>Projet suivant</p>
            </div>

            <a href="nike-phantom.html">
                <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
