{% include "_partials/_header.html" with {title:"Baie-Sainte-Catherine |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1>Baie-Sainte-Catherine</h1>

        <div class="but-content">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Ce projet portait sur la refonte intégrale des pages d'accueil et de contact du site web de la municipalité de la Baie-Sainte-Catherine, avec
                pour objectif final leur intégration. J'ai vraiment apprécié travailler sur ce projet, c'est pourquoi j'ai choisi de le mettre en avant.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="fauger.dectim.ca" target="_blank">
                <img src="assets/images/projets-bsc.jpg" alt="nike phantom luna" />
            </a>
        </div>
    </div>
</section>

<section class="credits">
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédit</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Réalisation :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Design / Prototypage</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Figma</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                Bien que le moodboard initial ait été partiellement fourni, j'ai pris l'initiative de rechercher des références supplémentaires qui
                correspondaient à ma vision. Cela m'a permis de personnaliser davantage le projet.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-inspi.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-mood.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                Tout comme pour la maquette finale, j'ai su adapter et personnaliser le projet en recherchant des comparables qui correspondaient à ma vision.
                Cela m'a permis de créer un rendu final qui reflète parfaitement mon style et mes attentes.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-wire.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Wireframes</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/bsc-maquette.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Maquette final</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration</h2>

            <p>
                Pour la création de ce héros, j'ai combiné un carrousel de la bibliothèque "Swiper JS" avec un positionnement CSS spécifique pour le titre, afin
                de créer un effet de juxtaposition harmonieux et esthétiquement agréable.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-integration.jpg" alt="HTML/CSS hero" data-component="Modales" />
                <p class="legende">HTML/CSS hero</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-hero.jpg" alt="Hero" data-component="Modales" />
                <p class="legende">Hero</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Intéractivité</h2>

            <p>
                Pour concevoir ce carrousel interactif, j'ai à nouveau utilisé la bibliothèque "Swiper JS", en configurant différentes options afin de le rendre
                plus dynamique. Cela permet de naviguer entre les diapositives en utilisant les autres slides visibles, offrant ainsi une expérience utilisateur
                fluide.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-interactivite.jpg" alt="Javascript du carousel" data-component="Modales" />
                <p class="legende">Javascript du carousel</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-carousel.jpg" alt="Carousel" data-component="Modales" />
                <p class="legende">Carousel</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media">
            <div class="suivant-media-content">
                <h2>nike phantom luna</h2>

                <p>Projet suivant</p>
            </div>

            <a href="nike-phantom.html">
                <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
