{% include "_partials/_header.html" with {title:"Gestion Samurai |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2">Gestion samurai</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Gestion Samurai est le tout premier projet professionnel que j’ai réalisé lors de mon stage. L’objectif était de concevoir un site web sur
                mesure pour une entreprise réelle, en respectant ses besoins et son image. Ce projet marque une étape importante dans mon parcours, car il m’a
                permis d’appliquer mes compétences en intégration dans un cadre professionnel.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="https://www.gestionsamurai.com" target="_blank">
                <img src="assets/images/sam-swiper.jpg" alt="onze hebdo" />
            </a>
        </div>
    </div>
</section>

<section class="credits" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédits</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Réalisation :
                        <a href="https://blackduckagency.com" target="_blank">Black Duck Agency</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Projet professionnel</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>PHP / CSS / JS</li>
                    <li>Blender</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                La création de moodboards et la recherche approfondie de projets similaires ont été essentielles pour établir des bases solides pour le projet,
                facilitant une réflexion créative structurée et garantissant un démarrage à la fois pertinent et efficace.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-inspiration.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-moodboard.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                Maintenant que les fondations du projet sont solidement établies, je vais commencer à créer les wireframes. Ensuite, je me concentrerai sur la
                conception des maquettes.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-wire.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Wireframes</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-maquette.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Maquette final</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media" data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>webjam - vti</h2>

                <p>Projet suivant</p>
            </div>

            <a href="webjam.html">
                <img src="assets/images/vti-notext.jpg" alt="webjam - vti" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
