{% include "_partials/_header.html" with {title:"Gestion Samurai |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2">Gestion samurai</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Gestion Samurai est le tout premier projet professionnel que j’ai réalisé lors de mon stage. L’objectif était de concevoir un site web sur
                mesure pour une entreprise réelle, en respectant ses besoins et son image. Ce projet marque une étape importante dans mon parcours, car il m’a
                permis d’appliquer mes compétences en intégration dans un cadre professionnel.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="https://www.gestionsamurai.com" target="_blank">
                <img src="assets/images/sam-swiper.jpg" alt="onze hebdo" />
            </a>
        </div>
    </div>
</section>

<section class="credits" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédits</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Réalisation :
                        <a href="https://blackduckagency.com" target="_blank">Black Duck Agency</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Projet professionnel</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>PHP / CSS / JS</li>
                    <li>Blender</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Animation et dynamique visuelle</h2>

            <p>
                L’animation des lettres au scroll faisait partie du concept initial. J’ai donc utilisé GSAP et ScrollTrigger pour donner vie à cette intention,
                en créant un effet de changement de couleur fluide et harmonieux au fil du défilement.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo1.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Code pour le GSAP</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo2.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Couleurs des lettres</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Animation de mise en page interactive</h2>

            <p>
                J’ai utilisé GSAP et ScrollTrigger pour orchestrer leur apparition progressive, avec un effet de superposition fluide qui capte l’attention. Ce
                traitement ajoute du rythme à la page tout en mettant en valeur chaque élément de contenu.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo3.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Code pour le GSAP</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo4.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Cartes qui s'empilent</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration 3D immersive</h2>

            <p>
                L’intégration du modèle 3D faisait partie des objectifs initiaux du projet. J’ai utilisé Three.js pour charger et afficher le modèle avec
                précision, en y ajoutant éclairage, ombrage et interactions pour renforcer l’immersion.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo5.jpg" alt="CSS des Cards" data-component="Modales" />
                <p class="legende">Render du model 3D</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo6.jpg" alt="Cards" data-component="Modales" />
                <p class="legende">Model 3D</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Hiérarchisation du contenu avec accordéons</h2>

            <p>
                J’ai développé des composants personnalisés en JavaScript, permettant d’afficher ou masquer le contenu de façon fluide. Cette approche améliore
                la lisibilité, surtout sur mobile, tout en gardant l’interface légère et intuitive.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo7.jpg" alt="Javascript des accordions" data-component="Modales" />
                <p class="legende">Javascript des accordéons</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/sam-photo8.jpg" alt="Accordions" data-component="Modales" />
                <p class="legende">Accordéons</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media" data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>webjam - vti</h2>

                <p>Projet suivant</p>
            </div>

            <a href="webjam.html">
                <img src="assets/images/vti-notext.jpg" alt="webjam - vti" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
