{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="wrapper">
        <div class="hero-content" data-scroll data-scroll-speed="0.9">
            <p class="on-title">Fred-Eric Auger</p>
            <h1>
                Intégrateur et
                <br />
                designer web junior
            </h1>
        </div>

        <div class="hero-media" data-scroll data-scroll-speed="0.5">
            <img src="assets/images/hero-acceuil.jpg" alt="Fred-Eric Auger" />
        </div>

        <div class="mes-projets">
            <a href="#projets">
                <svg class="icon">
                    <use xlink:href="#icon-fleche"></use>
                </svg>

                <p>Mes projets</p>
            </a>
        </div>
    </div>
</section>

<section class="projets  js-horizontal" id="projets" data-component="Projets" >
    

        <div class="projet js-horizontals">
            <div class="projet-title" >
                <h2>Nike phantom</h2>
                <p class="sub-title">Automne 2024</p>
            </div>

            <div class="projet-media" >
                <a class="projets-hover" href="nike-phantom.html">
                    <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" />
                </a>
            </div>

            <div class="projet-content" >
                <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>

                <div class="logiciels">
                    <img src="assets/icons/figma.svg" alt="figma" />

                    <img src="assets/icons/vscode.svg" alt="vscode" />
                </div>
            </div>
        </div>

        <div class="projet js-horizontals">
            <div class="projet-title">
                <h2>Nike phantom</h2>
                <p class="sub-title">Automne 2024</p>
            </div>

            <div class="projet-media">
                <a class="projets-hover" href="nike-phantom.html">
                    <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" />
                </a>
            </div>

            <div class="projet-content">
                <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>

                <div class="logiciels">
                    <img src="assets/icons/figma.svg" alt="figma" />

                    <img src="assets/icons/vscode.svg" alt="vscode" />
                </div>
            </div>
        </div>

        <div class="projet js-horizontals">
            <div class="projet-title">
                <h2>Nike phantom</h2>
                <p class="sub-title">Automne 2024</p>
            </div>

            <div class="projet-media">
                <a class="projets-hover" href="nike-phantom.html">
                    <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" />
                </a>
            </div>

            <div class="projet-content">
                <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>

                <div class="logiciels">
                    <img src="assets/icons/figma.svg" alt="figma" />

                    <img src="assets/icons/vscode.svg" alt="vscode" />
                </div>
            </div>
        </div>

        <div class="projet js-horizontals">
            <div class="projet-title">
                <h2>Nike phantom</h2>
                <p class="sub-title">Automne 2024</p>
            </div>

            <div class="projet-media">
                <a class="projets-hover" href="nike-phantom.html">
                    <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" />
                </a>
            </div>

            <div class="projet-content">
                <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>

                <div class="logiciels">
                    <img src="assets/icons/figma.svg" alt="figma" />

                    <img src="assets/icons/vscode.svg" alt="vscode" />
                </div>
            </div>
        </div>

        <div class="projet js-horizontals">
            <div class="projet-title">
                <h2>Nike phantom</h2>
                <p class="sub-title">Automne 2024</p>
            </div>

            <div class="projet-media">
                <a class="projets-hover" href="nike-phantom.html">
                    <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" />
                </a>
            </div>

            <div class="projet-content">
                <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>

                <div class="logiciels">
                    <img src="assets/icons/figma.svg" alt="figma" />

                    <img src="assets/icons/vscode.svg" alt="vscode" />
                </div>
            </div>
        </div>

    
</section>

{% include "_partials/_footer.html" %}
