{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="wrapper">
        <div class="hero-content">
            <p class="on-title">Fred-Eric Auger</p>
            <h1>
                Intégrateur et
                <br />
                designer web junior
            </h1>
        </div>

        <div class="hero-media">
            <img src="assets/images/hero-acceuil.jpg" alt="Fred-Eric Auger" />
        </div>



        <div class="mes-projets">
           <a href="#projets">

            <svg class="icon">
                <use xlink:href="#icon-fleche"></use>
            </svg>

            <p>Mes projets</p>

           </a>

            
        </div>
    </div>
    
</section>

<section class="projets  " id="projets">
    <div class="wrapper">


    

        <div class="swiper swiper1" data-component="Carousel" data-swiper>
            <div class="swiper-wrapper">

                <div class="swiper-slide">

                    <div class="projet-media">
                        <a class="projets-hover" href="nike-phantom.html">
                            <img src="assets/images/phantom-swipper.jpg" alt="nike phantom" />
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="projet-media">
                        <a class="projets-hover" href="">
                            <img src="assets/images/onze-swiper.jpg" alt="onzehebdo" />
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="projet-media">
                        <a class="projets-hover" href="">
                            <img src="assets/images/onze-swiper.jpg" alt="onzehebdo" />
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="projet-media">
                        <a class="projets-hover" href="">
                            <img src="assets/images/onze-swiper.jpg" alt="onzehebdo" />
                        </a>
                    </div>
                </div>

                

                <div class="swiper-slide">

                    <div class="projet-media">
                        <a class="projets-hover" href="">
                            <img src="assets/images/baie-swiper.jpg" alt="nike phantom" />
                        </a>
                    </div>
                </div>


            </div>

            <div class="swiper-pagination"></div>
        </div>


        <div class="swiper swiper2" data-gap="500" data-fade>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="projet-title">
                        <h2>Nike phantom</h2>
                        <p class="sub-title">Automne 2024</p>
                    </div>

                    <div class="projet-media">
                       
                    </div>
                
                    
                    <div class="projet-content">
                        <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>
                
                        <div class="logiciels">
                            <img src="assets/icons/figma.svg" alt="figma">
                
                            <img src="assets/icons/vscode.svg" alt="vscode">
                        </div>
                    </div>
                   
                </div>

                <div class="swiper-slide">
                    <div class="projet-title">
                        <h2>onzehebdo</h2>
                        <p class="sub-title">Automne 2023</p>
                    </div>

                    <div class="projet-media">
                       
                    </div>
                
                    
                    <div class="projet-content">
                        <p>Projet étudiant | Design mobile | Réaliser par Fred-Eric Auger</p>
                
                        <div class="logiciels">
                            <img src="assets/icons/figma.svg" alt="figma">
                
                            
                        </div>
                    </div>
                   
                </div>


                <div class="swiper-slide">
                    <div class="projet-title">
                        <h2>onzehebdo</h2>
                        <p class="sub-title">Automne 2023</p>
                    </div>

                    <div class="projet-media">
                       
                    </div>
                
                    
                    <div class="projet-content">
                        <p>Projet étudiant | Design mobile | Réaliser par Fred-Eric Auger</p>
                
                        <div class="logiciels">
                            <img src="assets/icons/figma.svg" alt="figma">
                
                            <img src="assets/icons/vscode.svg" alt="vscode">
                        </div>
                    </div>
                   
                </div>


                <div class="swiper-slide">
                    <div class="projet-title">
                        <h2>onzehebdo</h2>
                        <p class="sub-title">Automne 2023</p>
                    </div>

                    <div class="projet-media">
                       
                    </div>
                
                    
                    <div class="projet-content">
                        <p>Projet étudiant | Design mobile | Réaliser par Fred-Eric Auger</p>
                
                        <div class="logiciels">
                            <img src="assets/icons/figma.svg" alt="figma">
                
                            <img src="assets/icons/vscode.svg" alt="vscode">
                        </div>
                    </div>
                   
                </div>

                

                <div class="swiper-slide">
                    <div class="projet-title">
                        <h2>baie-ste-catherine</h2>
                        <p class="sub-title">Hiver 2024</p>
                    </div>

                    <div class="projet-media">
                       
                    </div>
                
                    
                    <div class="projet-content">
                        <p>Projet étudiant | Intégration/design web | Réaliser par Fred-Eric Auger</p>
                
                        <div class="logiciels">
                            <img src="assets/icons/figma.svg" alt="figma">
                
                            <img src="assets/icons/vscode.svg" alt="vscode">
                        </div>
                    </div>
                   
                </div>
                
            </div>

            
        </div>







        



        
    </div>
</section>

{% include "_partials/_footer.html" %}
