{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="wrapper">
        <div class="hero-content">
            <p class="on-title">Fred-Eric Auger</p>
            <h1>Intégrateur et <br>designer web junior</h1>
        </div>

        <div class="hero-media">
            <img src="assets/images/hero-acceuil.jpg" alt="Fred-Eric Auger">
        </div>


<div class="scroll-down">
        <p class="text">Scroll vers le bas - Scroll ver le bas - </p>

      <svg class="icon">
          <use xlink:href="#icon-fleche"></use>
      </svg>  
    </div>


    </div>

    
</section>




{% include "_partials/_footer.html" %}
