{% include "_partials/_header.html" with {title:"Nike phantom luna |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2">nike phantom luna</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Le but de ce projet était de créer un “one pager” pour promouvoir un produit que nous apprécions. Ce projet scolaire était d’abord un projet de
                design réalisé en automne 2023. Finalement, j’ai décidé d’intégrer la maquette que j’ai réalisée sur le web dans mon portfolio, pour un but
                personnel, en automne 2024.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="https://fauger.dectim.ca/nikephantom/" target="_blank">
                <img src="assets/images/phantom-page.jpg" alt="nike phantom luna" />
            </a>
        </div>
    </div>
</section>

<section class="credits" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédit</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Réalisation :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                    <li>
                        Produit de :
                        <a href="https://www.behance.net/gallery/181375821/FA23-NIKE-PHANTOM-LUNA" target="_blank">Fiona Lesecq</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Design / Prototypage</li>
                    <li>Projet scolaire</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Figma</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                La création de moodboards, ainsi que la recherche approfondie de projets comparables, a joué un rôle fondamental dans l’établissement de bases
                solides pour le projet, permettant de structurer la réflexion créative et d’assurer un démarrage efficace et pertinent.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-comparable.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-moodboard.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                À présent que les fondations du projet sont solidement établies, je vais entamer la création des wireframes. Par la suite, je me concentrerai
                sur l'élaboration des maquettes.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-wireframe.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Wireframes</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-final.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Maquette final</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration</h2>

            <p>
                Pour la création de ce héros, j'ai combiné un carrousel de la bibliothèque 'Swiper JS' avec un positionnement CSS spécifique pour le titre, afin
                de créer un effet de juxtaposition harmonieux et esthétiquement agréable.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-integration.jpg" alt="HTML/CSS hero" data-component="Modales" />
                <p class="legende">HTML du hero</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-hero.jpg" alt="Hero" data-component="Modales" />
                <p class="legende">Hero</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Intéractivité</h2>

            <p>
                Pour concevoir ce carrousel interactif, j'ai à nouveau utilisé la bibliothèque 'Swiper JS' en configurant différentes options afin de le rendre
                plus dynamique. Cela permet de naviguer entre les diapositives en utilisant les autres slides visibles, offrant ainsi une expérience utilisateur
                fluide.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-interactivite.jpg" alt="Javascript du carousel" data-component="Modales" />
                <p class="legende">Javascript du carousel</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/nike-carousel.jpg" alt="Carousel" data-component="Modales" />
                <p class="legende">Carousel</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media" data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>onzehebdo</h2>

                <p>Projet suivant</p>
            </div>

            <a href="onzehebdo.html">
                <img src="assets/images/omze-suivant.jpg" alt="onzehebdo" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
