{% include "_partials/_header.html" with {title:"Nike phantom luna |" , class:"header-propos"}%}

<section class="but">
    <div class="wrapper">
        <h1>nike pahntom luna</h1>

        <div class="but-content">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Le but de ce projet était de créer un “one pager” pour promouvoir un produit que nous apprécions. Ce projet scolaire était d’abord un projet de
                design réalisé en automne 2023 et finalement j’ai décidé pour mon portfolio et pour un but personnelle d’intégrer la maquette que j’ai réaliser,
                sur le web en automne 2024.
            </p>
        </div>


        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="fauger.dectim.ca">
                <img src="assets/images/phantom-page.jpg" alt="nike phantom luna">
            </a>
            
        </div>
    </div>
</section>

<section class="credits">
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédit</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Réalisation : <a href="index.html">Fred-Eric Auger</a></li>
                    <li>Produit de : <a href="https://www.behance.net/gallery/181375821/FA23-NIKE-PHANTOM-LUNA">Fiona Lesecq</a></li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Design / Prototypage</li>
                    <li>Intégration front-end</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Figma</li>
                </ul>
            </div>


        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
