{% include "_partials/_header.html" with {title:"OnzeHebdo |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1>OnzeHebdo</h1>

        <div class="but-content">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Le but de ce projet était de créer une application de curation de contenue sur le thème de notre choix. Personnellement, j'ai choisis le soccer
                et plus précisement l'équipe de Réal Madrid. J'ai décidé de présenter ce projet car c'est un de mes meilleur design sur mobile et tablette et
                dont je suis le plus fier.
            </p>
        </div>

        <div class="but-media">
            <a
                class="projets-hover projets-hover-page"
                href="https://www.figma.com/proto/XeXHMm271cbXpKtrj6H9lP/1012_Auger_Fred-Eric_TP3?page-id=2183%3A70&node-id=2183-81&node-type=frame&viewport=654%2C666%2C0.1&t=0am9mOK6CusRH7Bk-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=2195%3A195"
                target="_blank"
            >
                <img src="assets/images/onze-page.jpg" alt="onze hebdo" />
            </a>
        </div>
    </div>
</section>

<section class="credits">
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédit</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Réalisation :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                    <li>
                        Article de :
                        <a href="https://onefootball.com/fr/home" target="_blank">OneFootball</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Design / Prototypage</li>
                    <li>Création de logo</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Figma</li>
                    <li>Illustrator</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                La création de moodboards et la recherche approfondie de projets similaires ont été essentielles pour poser des bases solides au projet,
                facilitant ainsi une réflexion créative structurée et garantissant un démarrage pertinent et efficace.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-inspiration.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-moodboard.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                À présent que les fondations du projet sont solidement établies e, je vais entamer la création des wireframes. Par la suite, je me concentrerai
                sur l'élaboration des maquettes .
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-wire.jpg" alt="Wireframes" data-component="Modales" />
                <p class="legende">Wireframes</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/onze-maquette.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Maquette final</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media">
            <div class="suivant-media-content">
                <h2>webjam - vti</h2>

                <p>Projet suivant</p>
            </div>

            <a href="webjam.html">
                <img src="assets/images/vti-notext.jpg" alt="webjam - vti" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
