{% include "_partials/_header.html" with {title:"Portfolio |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2">portfolio</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Ce projet a pour but de mettre en avant le travail et les techniques que j'ai utilisées pour concevoir ce portfolio. Mon objectif est de le
                rendre suffisamment abouti pour pouvoir le présenter avec fierté.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="index.html">
                <img src="assets/images/portfolio-hero.png" alt="hero du portfolio" />
            </a>
        </div>
    </div>
</section>

<section class="credits" data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédit</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Réalisation :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Design / Prototypage</li>
                    <li>Projet scolaire</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Figma</li>
                    <li>GSAP</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                Pour la création de mon moodboard et la sélection de comparables, j'ai choisi d'adopter un style minimaliste. Mon objectif était de m'inspirer
                de portfolios professionnels afin de m'approcher au maximum des standards attendus dans un cadre professionnel.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/portfolio-inspi.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/portfolio-mood.jpg" alt="Moodboard" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                La réalisation de la maquette s'est avérée relativement simple, en grande partie grâce à l'inspiration que j'ai puisée dans mon moodboard. J'ai
                veillé à conserver une esthétique cohérente et homogène tout au long du processus, ce qui m'a permis d'obtenir un résultat convaincant.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/porfolio-maquette1.jpg" alt="Maquette" data-component="Modales" />
                <p class="legende">Maquette</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/portfolio-mood2.jpg" alt="Maquette" data-component="Modales" />
                <p class="legende">Maquette</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration</h2>

            <p>
                Pour la création de ce héros, j'ai combiné un carrousel de la bibliothèque "Swiper JS" avec un positionnement CSS spécifique pour le titre, afin
                de créer un effet de juxtaposition harmonieux et esthétiquement agréable.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/projet-code.png" alt="CSS des projets" data-component="Modales" />
                <p class="legende">CSS des projets</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/portfolio-projet.jpg" alt="Projet" data-component="Modales" />
                <p class="legende">Projet</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Intéractivité</h2>

            <p>
                Pour concevoir ce carrousel interactif, j'ai à nouveau utilisé la bibliothèque "Swiper JS", en configurant différentes options afin de le rendre
                plus dynamique. Cela permet de naviguer entre les diapositives en utilisant les autres slides visibles, offrant ainsi une expérience utilisateur
                fluide.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/ligne-code.png" alt="Javascript des langages" data-component="Modales" />
                <p class="legende">Javascript des langages</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/portfolio-ligne.jpg" alt="Langages" data-component="Modales" />
                <p class="legende">Langages</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media" data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>baie-ste-catherine</h2>

                <p>Projet suivant</p>
            </div>

            <a href="bsc.html">
                <img src="assets/images/bsc-next.jpg" alt="baie-sainte-catherine" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
