{% include "_partials/_header.html" with {title:"Webjam |" , class:"header-propos" , }%}

<div class="modal">
    <!-- The Close Button -->
    <span class="close js-modal-close">
        <a>
            <svg class="icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
    </span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content js-modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption js-modal-caption"></div>
</div>

<section class="but">
    <div class="wrapper">
        <h1 data-scroll data-scroll-speed="0.2" >webjam - vti</h1>

        <div class="but-content" data-scroll data-scroll-speed="0.7">
            <h2 class="on-title">Le but de ce projet :</h2>

            <p>
                Ce projet est le fruit d'un webjam mené par une équipe de quatre personnes. Nous disposions de 36 heures pour concevoir un site WordPress
                complet avec un thème personnalisé. J'ai choisi de présenter ce projet car nous avons remporté le prix de la meilleure intégration, et
                j'apprécie énormément le site que nous avons créé ensemble.
            </p>
        </div>

        <div class="but-media">
            <a class="projets-hover projets-hover-page" href="https://rroybeaudoin.dectim.ca/webjam" target="_blank">
                <img src="assets/images/vti-text.jpg" alt="vti" />
            </a>
        </div>
    </div>
</section>

<section class="credits"  data-scroll data-scroll-css-progress>
    <div class="wrapper">
        <div class="grid">
            <div class="credit">
                <h3>Crédit</h3>
                <div class="ligne"></div>
                <ul>
                    <li>
                        Designer :
                        <a href="index.html">Fred-Eric Auger</a>
                    </li>
                    <li>
                        Intégrateur :
                        <a href="https://rroybeaudoin.dectim.ca/porfolio/" target="_blank">Renaud Roy-Beaudoin</a>
                    </li>
                    <li>
                        Vidéaste :
                        <a href="https://nrpelletier.ca/" target="_blank">Nicolas Pelletier</a>
                    </li>
                    <li>
                        Programmeur :
                        <a href="https://www.instagram.com/prod.pengu/profilecard/?igsh=MWloY2Ewb3E5bTJiaQ==" target="_blank">Nicolas Rey</a>
                    </li>
                </ul>
            </div>

            <div class="credit">
                <h3>Type de projet</h3>
                <div class="ligne"></div>
                <ul>
                    <li>Intégration front-end</li>
                    <li>Design</li>
                </ul>
            </div>

            <div class="credit">
                <h3>Langages / logiciels</h3>
                <div class="ligne"></div>
                <ul>
                    <li>HTML / CSS / JS</li>
                    <li>Figma</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="design js-horizontal" data-component="Projet">
    <div class="ideation js-horizontals">
        <div class="projet-page-content">
            <h2>Idéation et conceptualisation</h2>

            <p>
                La création de moodboards, ainsi que la recherche approfondie de projets comparables, ont joué un rôle fondamental dans l'établissement des
                bases solides du projet, permettant de structurer la réflexion créative et d'assurer un démarrage efficace et pertinent.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-inspirations.jpg" alt="Comparables" data-component="Modales" />
                <p class="legende">Comparables</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-guuide.jpg" alt="Guide de styles" data-component="Modales" />
                <p class="legende">Moodboard</p>
            </div>
        </div>
    </div>

    <div class="structure js-horizontals">
        <div class="projet-page-content">
            <h2>Structuration et design</h2>

            <p>
                À présent que les fondations du projet sont solidement établies e, je vais entamer la création des wireframes. Par la suite, je me concentrerai
                sur l'élaboration des maquettes .
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-maqutte1.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Wireframes</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-maqutte2.jpg" alt="Maquette final" data-component="Modales" />
                <p class="legende">Maquette final</p>
            </div>
        </div>
    </div>
</section>

<section class="integrations js-horizontal2">
    <div class="integration js-horizontals2">
        <div class="projet-page-content">
            <h2>Intégration</h2>

            <p>
                Pour la conception de ce héros, nous avons opté pour une approche épurée, visant à élaborer un style minimaliste tout en préservant une certaine
                esthétique. Cette démarche nous a permis de mettre en avant l'essentiel, en évitant les éléments superflus.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-hero.png" alt="HTML/CSS hero" data-component="Modales" />
                <p class="legende">HTML/CSS hero</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/vti-text.jpg" alt="Hero" data-component="Modales" />
                <p class="legende">Hero</p>
            </div>
        </div>
    </div>

    <div class="interactivite js-horizontals2">
        <div class="projet-page-content">
            <h2>Intéractivité</h2>

            <p>
                Pour créer ce carrousel interactif vertical, j'ai recours à la bibliothèque "Swiper JS", en ajustant diverses options pour lui donner un aspect
                plus dynamique. Cela facilite la navigation entre les diapositives.
            </p>
        </div>

        <div class="projet-page-medias">
            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-carousel.png" alt="Javascript du carousel" data-component="Modales" />
                <p class="legende">Javascript du carousel</p>
            </div>

            <div class="projet-page-media">
                <img class="hover-img" src="assets/images/webjam-carousel-pic.png" alt="Carousel" data-component="Modales" />
                <p class="legende">Carousel</p>
            </div>
        </div>
    </div>
</section>

<section class="suivant">
    <div class="wrapper">
        <div class="suivant-media"  data-scroll data-scroll-css-progress>
            <div class="suivant-media-content">
                <h2>portfolio</h2>

                <p>Projet suivant</p>
            </div>

            <a href="portfolio.html">
                <img src="assets/images/hero-acceuil.jpg" alt="portfolio" class="projets-hover" />
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
